@font-face {
	font-family: ArodoraPro;
	font-display: swap;
	src: url("../fonts/ArodoraPro-Light.woff2") format("woff2"), url("../fonts/ArodoraPro-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal
;}
@font-face {
	font-family: BalooBhai2;
	font-display: swap;
	src: url("../fonts/BalooBhai2-Regular.woff2") format("woff2"), url("../fonts/BalooBhai2-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal
;}
@font-face {
	font-family: ArodoraPro;
	font-display: swap;
	src: url("../fonts/ArodoraPro-Light.woff2") format("woff2"), url("../fonts/ArodoraPro-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal
;}
@font-face {
	font-family: NicoMoji;
	font-display: swap;
	src: url("../fonts/NicoMoji-Regular.woff2") format("woff2"), url("../fonts/NicoMoji-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal
;}
@font-face {
	font-family: NerkoOne;
	font-display: swap;
	src: url("../fonts/NerkoOne-Regular.woff2") format("woff2"), url("../fonts/NerkoOne-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal
;}
@font-face {
	font-family: Pacifico;
	font-display: swap;
	src: url("../fonts/Pacifico-Regular.woff2") format("woff2"), url("../fonts/Pacifico-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal
;}
